<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <clear />
        <add
            connectionString="Data Source=LERWICK-LT;Initial Catalog=CareManagementDatabase;User Id=care.management.application;Password=CareManagementApplication;"
            name="CareManagementDbConnection"
            providerName="System.Data.SqlClient" />
        <add 
            name="CareManagementContainer" 
            connectionString="metadata=res://*/EF.CareManagement.csdl|res://*/EF.CareManagement.ssdl|res://*/EF.CareManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LERWICK-LT;initial catalog=CareManagementDatabase;User Id=care.management.application;Password=CareManagementApplication;multipleactiveresultsets=True;App=EntityFramework&quot;" 
            providerName="System.Data.EntityClient" />
    </connectionStrings>
    <system.web>
        <authentication mode="Forms" />
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            </assemblies>
        </compilation>
        <membership defaultProvider="SqlMembershipProvider">
            <providers>
                <clear />
                <add
                    name="SqlMembershipProvider"
                    type="System.Web.Security.SqlMembershipProvider"
                    connectionStringName="CareManagementDbConnection"
                    applicationName="CareManagement"
                    enablePasswordRetrieval="false"
                    enablePasswordReset="false"
                    requiresQuestionAndAnswer="false"
                    requiresUniqueEmail="true"
                    passwordFormat="Hashed" />
            </providers>
        </membership>
        <roleManager defaultProvider="SqlRoleProvider" enabled="true">
            <providers>
                <clear />
                <add
                    name="SqlRoleProvider"
                    type="System.Web.Security.SqlRoleProvider"
                    connectionStringName="CareManagementDbConnection"
                    applicationName="CareManagement" />
            </providers>
        </roleManager>
    </system.web>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel"
                    switchValue="All"
                    propagateActivity="true">
                <listeners>
                    <add name="xml" />
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add 
                name="xml" 
                type="System.Diagnostics.XmlWriterTraceListener" 
                initializeData="C:\Temp\myService.svclog" />
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <diagnostics>
            <messageLogging logEntireMessage="true"
                            maxMessagesToLog="300"
                            logMessagesAtServiceLevel="true"
                            logMalformedMessages="true"
                            logMessagesAtTransportLevel="true" />
        </diagnostics>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Service.ServiceImplementation.AccountService_Behavior">
                    <serviceDebug includeExceptionDetailInFaults="false" />
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
                <behavior name="Service.ServiceImplementation.InsuranceService_Behavior">
                    <serviceDebug includeExceptionDetailInFaults="false" />
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
                <behavior name="Service.ServiceImplementation.MedicalService_Behavior">
                    <serviceDebug includeExceptionDetailInFaults="false" />
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
                <behavior name="Service.ServiceImplementation.PrescriptionService_Behavior">
                    <serviceDebug includeExceptionDetailInFaults="false" />
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="Service.ServiceImplementation.AccountService_Behavior"
                name="Service.ServiceImplementation.AccountService">
                <endpoint address="basicHttp" binding="basicHttpBinding" name="AccountsBasicHttp"
                    bindingNamespace="http://CareManagement.Model/2012/Accounts"
                    contract="Service.ServiceContracts.IAccountContract" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service behaviorConfiguration="Service.ServiceImplementation.InsuranceService_Behavior"
                name="Service.ServiceImplementation.InsuranceService">
                <endpoint address="basicHttp" binding="basicHttpBinding" name="InsuranceBasicHttp"
                    bindingNamespace="http://CareManagement.Model/2012/Insurance"
                    contract="Service.ServiceContracts.IInsuranceContract" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service behaviorConfiguration="Service.ServiceImplementation.MedicalService_Behavior"
                name="Service.ServiceImplementation.MedicalService">
                <endpoint address="basicHttp" binding="basicHttpBinding" name="MedicalBasicHttp"
                    bindingNamespace="http://CareManagement.Model/2012/Medical"
                    contract="Service.ServiceContracts.IMedicalContract" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service behaviorConfiguration="Service.ServiceImplementation.PrescriptionService_Behavior"
                name="Service.ServiceImplementation.PrescriptionService">
                <endpoint address="basicHttp" binding="basicHttpBinding" name="PrescriptionBasicHttp"
                    bindingNamespace="http://CareManagement.Model/2012/Prescription"
                    contract="Service.ServiceContracts.IPrescriptionContract" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>