<?xml version="1.0"?>
<configuration>
  
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Service.ServiceImplementation.User_Behavior"
        name="Service.ServiceImplementation.User">
        <endpoint address="user" binding="wsHttpBinding" name="UserEndpoint"
          bindingNamespace="http://CareManagement.Model/2012/User" contract="Service.ServiceContracts.IUser" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="Service.ServiceImplementation.User_Behavior">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
    
</configuration>
