<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <clear />
        <add
            connectionString="Data Source=LERWICK-LT;Initial Catalog=CareManagementDatabase;Integrated Security=True;"
            name="CareManagementDbConnection"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <authentication mode="Forms" />
        <compilation debug="false" targetFramework="4.0">
            <assemblies>
                <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            </assemblies>
        </compilation>
        <membership defaultProvider="SqlMembershipProvider">
            <providers>
                <clear />
                <add
                    name="SqlMembershipProvider"
                    type="System.Web.Security.SqlMembershipProvider"
                    connectionStringName="CareManagementDbConnection"
                    applicationName="CareManagement"
                    enablePasswordRetrieval="false"
                    enablePasswordReset="false"
                    requiresQuestionAndAnswer="false"
                    requiresUniqueEmail="true"
                    passwordFormat="Hashed" />
            </providers>
        </membership>
        <roleManager defaultProvider="SqlRoleProvider" enabled="true">
            <providers>
                <clear />
                <add 
                    name="SqlRoleProvider" 
                    type="System.Web.Security.SqlRoleProvider"
                    connectionStringName="CareManagementDbConnection"
                    applicationName="CareManagent" />
            </providers>
        </roleManager>
    </system.web>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MembershipBinding">
                    <security mode="Transport">
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>                
            </basicHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="SqlMembershipsAndRolesBehavior">
                    <serviceCredentials>
                        <userNameAuthentication
                            userNamePasswordValidationMode="MembershipProvider"
                            membershipProviderName="SqlMembershipProvider"/>
                    </serviceCredentials>
                    <serviceAuthorization principalPermissionMode="UseAspNetRoles" />
                    <serviceSecurityAudit auditLogLocation="Application" messageAuthenticationAuditLevel="Failure" serviceAuthorizationAuditLevel="Failure" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service
                behaviorConfiguration="SqlMembershipsAndRolesBehavior"
                name="Service.ServiceImplementation.AccountService">
                <endpoint
                    address="basicHttp"
                    binding="basicHttpBinding"
                    bindingConfiguration="MembershipBinding"
                    name="Account"
                    bindingNamespace="http://CareManagement.Model/2012/Accounts"
                    contract="Service.ServiceContracts.IAccountContract" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service
                behaviorConfiguration="SqlMembershipsAndRolesBehavior"
                name="Service.ServiceImplementation.InsuranceService">
                <endpoint
                    address="basicHttp"
                    binding="basicHttpBinding"
                    bindingConfiguration="MembershipBinding"
                    name="Insurance"
                    bindingNamespace="http://CareManagement.Model/2012/Insurance"
                    contract="Service.ServiceContracts.IInsuranceContract" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service
                behaviorConfiguration="SqlMembershipsAndRolesBehavior"
                name="Service.ServiceImplementation.PrescriptionService">
                <endpoint
                    address="basicHttp"
                    binding="basicHttpBinding"
                    bindingConfiguration="MembershipBinding"
                    name="Prescription"
                    bindingNamespace="http://CareManagement.Model/2012/Prescription"
                    contract="Service.ServiceContracts.IPrescriptionContract" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service
                behaviorConfiguration="SqlMembershipsAndRolesBehavior"
                name="Service.ServiceImplementation.MedicalService">
                <endpoint
                    address="basicHttp"
                    binding="basicHttpBinding"
                    bindingConfiguration="MembershipBinding"
                    name="Medical"
                    bindingNamespace="http://CareManagement.Model/2012/Medical"
                    contract="Service.ServiceContracts.IMedicalContract" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>